body {
    font-family: 'Assistant', sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

@media (min-width: 800px) {
    .container {
        width: 80%;
        margin: auto;
    }
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 600;
}

h3 {
    font-weight: 400;
}

p {
    color: #727483;
    font-size: 1.1rem;
}

.separador {
    background-color: #e1e1e4;
    height: 5px;
}


/* posicionando nombre y menu responsive */

.hero-first-container {
    padding: 0;
}

.hero-first-container img {
    height: 100px;
}

@media (min-width: 800px) {
    .hero-first-container img {
        height: 120px;
    }
}

.name-and-bars {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-second-container i {
    font-size: 2rem;
    top: 0;
    right: 0;
    position: sticky;
}

@media (min-width: 1200px) {
    .hero-second-container {
        display: none;
    }
}


/* menu responsive*/

.menu {
    position: absolute;
    top: 80px;
    right: 0;
    background: #212121;
    width: 50%;
    list-style: none;
    padding: 20px;
    margin: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    box-shadow: 0px 5px 15px black;
    border-radius: 10px;
}

@media (min-width: 1200px) {
    .menu {
        position: initial;
        display: flex;
        background: none;
        transition: none;
        visibility: visible;
        opacity: 1;
        box-shadow: none;
        border-radius: none;
        padding: 0;
        top: 0;
        transform: translateY(30px);
        width: 800px;
        margin: auto;
        left: 0;
    }
    .hero {
        display: flex;
        justify-content: space-between;
    }
}

.menu-item {
    padding: 20px;
    text-align: center;
    width: 150px;
    margin: auto;
}

.menu-link {
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
}

@media (min-width: 1200px) {
    .menu-link {
        color: black;
        text-decoration: none;
        display: block;
    }
    .menu-link:nth-last-of-type() {
        color: black;
        text-decoration: none;
        display: block;
    }
    .menu-item {
        padding: 0px;
        text-align: center;
        width: 100px;
        margin: auto;
    }
    .menu-item::after {
        content: "";
        display: block;
        width: 0;
        height: 1px;
        background: black;
        transition: width .3s;
    }
    .menu-item:hover::after {
        width: 100%;
        transition: width .3s;
    }
    .menu-item:last-child::after {
        content: "";
        display: block;
        width: 0;
        height: 1px;
        background: white;
    }
    .menu-item:last-child {
        background-color: orange;
        width: 200px;
        padding: .5rem;
        background: rgb(235, 160, 42);
        background: linear-gradient(90deg, rgba(235, 160, 42, 1) 0%, rgba(184, 109, 205, 1) 100%);
        border-radius: 50px;
        height: 1.2rem;
    }
    .menu-item:last-child a {
        color: white;
    }
}

.visible {
    opacity: 1;
    visibility: visible;
}


/* launch section */

.launch-section {
    padding-top: 3rem;
    width: 300px;
}

@media (min-width: 800px) {
    .launch-section {
        padding-top: 3rem;
        width: 650px;
    }
}

.launch-section h1 {
    font-size: 2.5rem;
}

.launch-section p {
    font-size: 1.5rem;
}

.launch-section a {
    text-decoration: underline;
    color: rgb(97, 97, 197);
    font-size: 1.5rem;
}


/* about */

.about {
    margin: 3rem 0 3rem 0;
    display: block;
    text-align: center;
}

@media (min-width: 800px) {
    .about {
        margin: 3rem 0 3rem 0;
        display: flex;
        justify-content: space-between;
    }
}

.description {
    line-height: 1.8rem;
    text-align: left;
    width: 100%;
}

@media (min-width: 800px) {
    .description {
        width: 50%;
        transform: translateX(-50%);
        line-height: 1.8rem;
        text-align: left;
        margin: none;
    }
}

.about span {
    font-weight: bold;
}


/* works */

.work-images-container {
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    justify-content: center;
}

@media (min-width: 1200px) {
    .work-images-container {
        padding-top: 5rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

.image-container {
    padding: 1rem;
    width: 300px;
    margin: 0 auto;
}

.work-image {
    padding-bottom: 2rem;
}

.work-image img {
    width: 300px;
    height: auto;
    box-shadow: 0px 3px 10px black;
}

@media (min-width: 1200px) {
    .image-container {
        padding: 1.2rem;
        width: 600px;
    }
    .work-image img {
        width: 600px;
        height: auto;
        box-shadow: 0px 3px 10px;
    }
}

.image1 {
    background-color: #AECEFF;
}

.image2 {
    background-color: #AEFFB9;
}

.image3 {
    background-color: #D1AEFF;
}

.image4 {
    background-color: #FFAEFE;
}

.image5 {
    background-color: #FFBCAE
}


/* my work */

.my-work {
    padding-top: 2rem;
}

.work-image-container {
    margin-bottom: 3rem;
}

.work-image-container img {
    width: 100%;
    box-shadow: 0px 3px 15px black;
}

@media (min-width: 800px) {
    .my-work {
        display: none;
    }
}


/* conectemos */

.connect {
    padding-top: 5rem;
    text-align: center;
}

@media (min-width: 800px) {
    .connect {
        padding-top: 15rem;
        text-align: center;
    }
}

.social-media {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 4rem;
}


/* .social-media a:visited {
    color: black;
} */

.social-media i {
    margin: 1rem;
    color: black;
    transition: all .3s;
}

@media (min-width: 800px) {
    .social-media {
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 6rem;
    }
}

.fa-linkedin:hover {
    color: #0275B4;
    transition: all .3s;
}

.fa-github:hover {
    color: #062738;
    transition: all .3s;
}

.fa-instagram:hover {
    color: #C54487;
    transition: all .3s;
}

.fa-whatsapp:hover {
    color: #29B200;
    transition: all .3s;
}


/* footer */

.footer {
    height: 50px;
    background-color: black;
    bottom: 0;
    margin-top: 6rem;
    color: white;
    text-align: center;
}

@media (min-width: 800px) {
    .footer {
        height: 50px;
        background-color: black;
        bottom: 0;
        margin-top: 6rem;
        color: white;
        text-align: right;
    }
}

.footer h3 {
    position: absolute;
    justify-self: center;
    align-self: center;
}


/* fixed button */

.fixed-button {
    border: 1px solid #b5b6bb;
    display: flex;
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
    position: fixed;
    transform: translateY(-2.5rem);
    z-index: 9999999;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border-radius: 50%;
    color: #b5b6bb;
    opacity: 0;
}

@media (min-width: 800px) {
    .fixed-button {
        border: 1px solid #b5b6bb;
        display: flex;
        width: 60px;
        height: 60px;
        background-color: white;
        position: absolute;
        right: 0;
        bottom: 0;
        margin: 30px;
        position: fixed;
        transform: translateX(0rem);
        z-index: 9999999;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        border-radius: 50%;
        color: #b5b6bb;
        cursor: pointer;
        opacity: 0;
    }
}